version: '3.1'

services:

  mongo:
    image: mongo
    restart: always
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: root
#      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - 27017:27017

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8181:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example

  mongo-seed:
    build: ./mongo-seed
    depends_on: [ mongo ]

  angular-app:
    image: nginx
    volumes:
      - ../web-app/dist:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 3000:80

  server-api:
    build:
      context: ../server-api
      dockerfile: ./Dockerfile
    expose:
      - 4000
    ports:
      - 4000:4000
    command: node server.js
    depends_on: [ mongo ]

networks:
  default:
    external:
      name: network-default
